name: ocr_engine_builtin
description: BuiltIn ocr engine
version: 0.1.0
homepage: https://github.com/biyidev/uni_ocr/tree/master/packages/ocr_engine_builtin

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

  uni_ocr_client: ^0.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^1.0.0

flutter:
  plugin:
    platforms:
      macos:
        pluginClass: OcrEngineBuiltinPlugin
